<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
        name="%launchConfigurationType.name"
        delegate="ch.powerunit.poweruniteclipse.PowerunitLaunchConfigurationDelegate"
        modes="run, debug"               
        id="ch.powerunit.launcher">        
    </launchConfigurationType>
   </extension>
   
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="./icons/logo.gif"
        configTypeID="ch.powerunit.launcher"
        id="ch.powerunit.launcher.icon">
    </launchConfigurationTypeImage>
   </extension>
   
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="ch.powerunit.launcher"
        class="ch.powerunit.poweruniteclipse.PowerunitLaunchTabGroup"
        id="ch.powerunit.launcher.tab">
    </launchConfigurationTabGroup>
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        id="ch.powerunit.launcher.shortcut"
        class="ch.powerunit.poweruniteclipse.PowerunitlaunchConfigurationShortcut"
        label="%shortcut.label"
        icon="./icons/logo.gif"
        modes="run, debug">
        <description
     		description="%description.description"
     		mode="run">
    	</description>
	    <description
	     	description="%description.description.0"
	     	mode="debug">
	    </description>
	    <contextualLaunch>
			<enablement>
				<with variable="selection">
				 <count value="1"/>
				  <iterate>
				   <or>
				   	<!--
					 <test property="org.eclipse.jdt.launching.isPackageFragment"/>
                     <test property="org.eclipse.jdt.launching.isPackageFragmentRoot"/>-->
                     <and>
                     	<test property="org.eclipse.jdt.launching.extendsInterface" args="ch.powerunit.TestSuite"/>
                     </and>
                     <!--
					 <and>
					 	<test property="org.eclipse.jdt.launching.isContainer"/>
					 	<test property="org.eclipse.jdt.launching.hasProjectNature" args="org.eclipse.jdt.core.javanature"/>
					 </and>-->
					</or>
				  </iterate>
				 </with>
			</enablement>
		</contextualLaunch>
		<configurationType
			id="ch.powerunit.launcher">
		</configurationType>
    </shortcut>
  </extension>


  <extension point = "org.eclipse.debug.ui.launchGroups">
	<launchGroup
		id = "org.eclipse.debug.ui.launchGroup.debug"
		mode = "debug"
		label ="%launchGroup.label"
		image = "./icons/logo.gif"
		bannerImage = "./icons/logo.gif">
	</launchGroup>
	<launchGroup
		id = "org.eclipse.debug.ui.launchGroup.run"
		mode = "run"
		label = "%launchGroup.label.0"
		image = "./icons/logo.gif"
		bannerImage = "./icons/logo.gif">
	</launchGroup> 
  </extension>
  
  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">            
   <classpathContainerInitializer                                          
      id="ch.powerunit.POWERUNIT_CONTAINER"                                                        
      class="ch.powerunit.poweruniteclipse.PowerunitClasspathInitializer"/>                           
</extension>
  
  <extension point="org.eclipse.jdt.ui.classpathContainerPage">
    <classpathContainerPage
        name="%classpathContainerPage.name"
        class="ch.powerunit.poweruniteclipse.PowerunitContainerWizardPage"
        id="ch.powerunit.POWERUNIT_CONTAINER">
    </classpathContainerPage>
  </extension>
  
  <extension point="org.eclipse.jdt.ui.quickFixProcessors">
    <quickFixProcessor
          class="ch.powerunit.poweruniteclipse.PowerunitQuickFixProcessor"
          id="ch.powerunit.QuickFixProcessor"
          name="%quickFixProcessor.name">
    	<enablement>
	      <with variable="projectNatures">
	         <iterate operator="or">
	            <equals value="org.eclipse.jdt.core.javanature"/>
	         </iterate>
	      </with>
   		</enablement>
    </quickFixProcessor>
  </extension>

  <extension point="org.eclipse.jdt.ui.classpathFixProcessors">
    <classpathFixProcessor
        name="%classpathFixProcessor.name"
        class="ch.powerunit.poweruniteclipse.PowerunitClasspathFixProcessor"
        id="ch.powerunit.ClasspathFixProcessor">
        <overrides id="org.eclipse.jdt.ui.text.correction.DefaultClasspathFixProcessor">
        </overrides>
    </classpathFixProcessor>
  </extension>
  <extension
        point="org.eclipse.ui.views">
	<category
       id="ch.powerunit.PowerUnitCategory" 
       name="PowerUnit">
	</category>
  	<view
         id="ch.powerunit.PowerUnitResultView" 
         name="%resultView.name" 
         category="ch.powerunit.PowerUnitCategory" 
         icon="./icons/logo.gif"
         class="ch.powerunit.poweruniteclipse.PowerUnitResultView">
  	</view>
  </extension>
</plugin>
